<% layout('adminLayout.html') -%>

<script type="text/javascript" src="js/changePassword.js"></script>
<div class="panel panel-default">
    <div class="panel-heading">修改密码</div>
    <div class="panel-body">
        <form id="defaultForm" class="col-sm-offset-4 col-sm-4 form-horizontal" onsubmit="return false">
            <fieldset>
                <legend></legend>
                <div class="panel panel-default">

                    <div class="panel-body m15">

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" class="form-control" id="password" name="pwd" placeholder="请输入当前密码" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" class="form-control" id="new_password" name="npwd" placeholder="请输入新密码" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" class="form-control" id="re_new_password" name="re_npwd" placeholder="请重复新密码" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" style="margin-left: 50px;" id="sure">确定</button>

                            <button type="button" class="btn btn-primary" style="float: right;margin-right: 50px;" id="cancel">取消</button>
                        </div>
                    </div>
                    </form>
                </div>
            </fieldset>
        </form>
    </div>
</div>

