	<% layout('adminLayout.html') -%>

	<div class="panel panel-default ">
	    <div class="panel-heading">
	        <h3 class="panel-title">
	            填表说明
	        </h3>
	    </div>

	    <ul class="list-group">
	        <li class="list-group-item">1、管理员不能看到处于填写中状态的信息。</li>
	        <li class="list-group-item">2、管理员可根据条件对用户信息列表进行筛选。</li>
	        <li class="list-group-item">3、当筛选条件为空时，显示所有记录。</li>
	        <li class="list-group-item">4、审核完成之后，管理员可以点击相应的按钮并填写相关信息之后完成审核。</li>
	    </ul>
	</div>

	<div class="panel panel-default ">
	    <div class="panel-heading">
	        <h3 class="panel-title">
	            注意事项
	        </h3>
	    </div>

	    <ul class="list-group">
	        <li class="list-group-item">1、管理员账号不能在前台注册，需要直接在数据库插入信息。</li>
	        <li class="list-group-item">2、管理员审核之后用户可以直接收到反馈，因此在确认提交审核结果的时候请慎重。</li>
	    </ul>
	</div>

