
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="javascripts/select-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/kindeditor.js"></script>

    
    <!-- 用于选择的下拉框 -->
    <script type="text/javascript">
        $(document).ready(function(e) {

            $(".select3").uedSelect({
                width : 152
            });
        });
    </script>


<body class="sarchbody">

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">系统设置</a></li>
        </ul>
    </div>
    
    <div class="formbody">
        <div id="usual1" class="usual"> 
    
        <ul class="seachform1">
            <li>
                <label>评测领域</label>  
                <div class="vocation">
                    <select class="select3">
                        <option>全部</option>
                        <option>其他</option>
                    </select>
                </div>
            </li>
            <li>
                <label>项目状态</label>  
                <div class="vocation">
                    <select class="select3">
                        <option>全部</option>
                        <option>其他</option>
                    </select>
                </div>
            </li> 

            <li>
                <input name="" type="button" class="scbtn" value="查询"/>   
            </li>
        </ul>
    
    
    
        <div class="formtitle">
            <span>信息列表</span>
        </div>
    
        <table class="tablelist">
            <thead>
                <tr>
                    <th>专家编号<i class="sort"><img src="images/px.gif" /></i></th>
                    <th>专家名</th>
                    <th>工作单位</th>
                    <th>联系电话</th>
                    <th>入库类型</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
            <tr>
                <td>20130908</td>
                <td>蔡鸿钦</td>
                <td>admin</td>
                <td>江苏南京</td>
                <td>注册</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">显示评审项目</a></td>
            </tr> 
            
            <tr>
                <td>20130907</td>
                <td>蔡鸿钦</td>
                <td>uimaker</td>
                <td>山东济南</td>
                <td>注册</td>
                <td>未审核</td>
                <td><a href="#" class="tablelink">显示评审项目</a></td>
            </tr>
            
            <tr>
                <td>20130906</td>
                <td>蔡鸿钦</td>
                <td>user</td>
                <td>江苏无锡</td>
                <td>注册</td>
                <td>未审核</td>
                <td><a href="#" class="tablelink">显示评审项目</a></td>
            </tr>
            
            <tr>
                <td>20130905</td>
                <td>蔡鸿钦</td>
                <td>admin</td>
                <td>北京市</td>
                <td>注册</td>
                <td>已审核</td>
                <td><a href="#" class="tablelink">显示评审项目</a></td>
            </tr>
            
            <tr>
                <td>20130907</td>
                <td>蔡鸿钦</td>
                <td>uimaker</td>
                <td>山东济南</td>
                <td>注册</td>
                <td>未审核</td>
                <td><a href="#" class="tablelink">显示评审项目</a></td>
            </tr>
        
            </tbody>
        </table>
    

       
        <div class="pagin">
            <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
            <ul class="paginList">
                <li class="paginItem">
                    <a href="javascript:;">
                        <span class="pagepre"></span>
                    </a>
                </li>
                <li class="paginItem">
                    <a href="javascript:;">1</a>
                </li>
                <li class="paginItem current">
                    <a href="javascript:;">2</a>
                </li>
                <li class="paginItem">
                    <a href="javascript:;">3</a>
                </li>
                <li class="paginItem">
                    <a href="javascript:;">4</a>
                </li>
                <li class="paginItem">
                    <a href="javascript:;">5</a>
                </li>
                <li class="paginItem more">
                    <a href="javascript:;">...</a>
                </li>
                <li class="paginItem">
                    <a href="javascript:;">10</a>
                </li>
                <li class="paginItem">
                    <a href="javascript:;">
                        <span class="pagenxt"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</body>

