	<% layout('layout.html') -%>
<!-- <div style="padding: 10px;width: 1100px;text-align: left;"> -->
	<div class="panel panel-default ">
	    <div class="panel-heading">
	        <h3 class="panel-title">
	            填表说明
	        </h3>
	    </div>

	    <ul class="list-group">
	        <li class="list-group-item">1、带*为必填项。</li>
	        <li class="list-group-item">2、证书编号和证书有效时间：管理员审核通过后填写，用户不得自己填写。</li>
	        <li class="list-group-item">3、点击日历选择器上方的年份，可快速对年份和月份进行选择。</li>
	        <li class="list-group-item">4、出生日期：需要从日历选择器中选择，用户不得自己填写。</li>
	        <li class="list-group-item">5、评审/评估经历的日期：从日历中选择，用户不得自己填写。</li>
	        <li class="list-group-item">6、工作经历的开始时间、终止时间：从日历中选择，用户不得自己填写。</li>
	        <li class="list-group-item">7、回避单位：用户曾经工作过的单位或者是现在正在工作的单位。</li>
	    </ul>
	</div>

	<div class="panel panel-default ">
	    <div class="panel-heading">
	        <h3 class="panel-title">
	            注意事项
	        </h3>
	    </div>

	    <ul class="list-group">
	        <li class="list-group-item">1、因为需求描述不清楚，所以当用户状态为“待审核”的时候，无法修改信息。</li>
	        <li class="list-group-item">2、管理员审核之后才可重新修改信息，因此提交之前请慎重。</li>
	        <li class="list-group-item">3、用户保存之后再进行编辑，个人照片默认为之前上传过的照片，无需重新上传。</li>
	        <li class="list-group-item">4、如果用户想修改照片，点击照片重新选择图片即可。</li>
	    </ul>
	</div>
<!-- </div> -->
