.admin_login{width:300px;height:auto;overflow:hidden;margin:10% auto 0 auto;padding:40px;box-shadow:0 -15px 30px #df6211;border-radius:5px;}
.admin_login dd{margin:5px 0;height:42px;overflow:hidden;position:relative;}
/*text-indent:2em;文本缩进*/
.admin_login dd .login_txtbx{font-size:14px;height:26px;line-height:26px;padding:8px 5%;width:90%;border:none;background:#df6211;color:white;}
.admin_login dd .login_txtbx::-webkit-input-placeholder {color:#f8f8f8;line-height:inherit;} 
/*-moz-placeholder火狐下的样式*/
.admin_login dd .login_txtbx:-moz-placeholder {color:#f8f8f8;line-height:inherit;} 
.admin_login dd .login_txtbx::-moz-placeholder {color:#f8f8f8;line-height:inherit;}
.admin_login dd .login_txtbx:focus{background:#df7611;}

.admin_login dd:before{font-family:'adminthemesregular';position:absolute;top:0;left:10px;height:42px;line-height:42px;font-size:20px;color:#ffffff;}
.admin_login dd.user_icon:before{content:"u";}
.admin_login dd.pwd_icon:before{content:"p";}
.admin_login dd.val_icon:before{content:"n";}
.admin_login dd .ver_btn{text-align:right;border:none;color:#f4f4f4;height:42px;line-height:42px;margin:0;z-index:1;position:relative;float:right;background:#df7611;}
.admin_login dd .checkcode{float:left;width:182px;height:42px;background:#fff}
.admin_login dd .checkcode input{width:120px;height:36px;line-height:36px;padding:3px;color:white;outline:none;border:none;text-indent:2.8em;}
.admin_login dd .checkcode canvas{width:85px;height:36px;padding:3px;z-index:0;background:#df6211;}
.admin_login dd .comfirm_btn{margin-left: 40px;width:30%;height:42px;border:none;font-size:16px;background:#df6211;color:#f8f8f8;}
.admin_login dd .comfirm_btn:hover{background:#df7211;color:#f4f4f4;}
.admin_login dd .cancel_btn{float: right;margin-right: 40px;width:30%;height:42px;border:none;font-size:16px;background:#df6211;color:#f8f8f8;}
.admin_login dd .cancel_btn:hover{background:#df7211;color:#f4f4f4;}

