
.form-inline{
    position: relative;
    display: block;
}
.form-inline + .form-inline{
    margin-top: 10px;
}
.form-inline > div{
    height: 40px;
    line-height: 40px;
}

.form-inline-input{
    padding-left: 15px;
}
.form-inline-input input,
.code-box{
    padding: 0 10px;
    width: 300px;
    height: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 5px;
    outline: none;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.code-box{
    position: relative;
}
.code-box p,
.code-box span{
    display:block;
    position: absolute;
    left: 0;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}
.code-box span{
    width: 40px;
    background-color:#fff;
    font-family: "宋体";
    font-size: 16px;
    cursor: pointer;
}
.code-box p{
    width: 0;
    background-color: #FFFF99;
    overflow: hidden;
    text-indent: -20px;
    transition: background 1s ease-in;
}
.code-box .code-input{
    display: none;
}

